Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix --max-warnings 0
  - stylelint --fix --mw 0
  - prettier --write
"*.js":
  - eslint --fix --max-warnings 0
  - prettier --write
"*.scss":
  - stylelint --fix --mw 0
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

chore(release): 0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add rqLogin
  packages/index.js
  packages/login/Login.vue
  packages/login/api/index.js
  packages/login/assets/img/logo.png
  packages/login/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: update demo
  demo/App.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

docs: update components docs
  COMPONENTS_DOC.md
Due: prettier --write

feat: finish-login rename to after-login
  COMPONENTS_DOC.md
  demo/App.vue
  packages/login/Login.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: login button background
  packages/login/Login.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: login username text
  packages/login/Login.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

docs: update description of rqlogin props logo
  COMPONENTS_DOC.md
Due: prettier --write

fix: watch mode sourcemap error
  depVersion
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 0.2.1-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: async lint stage
  .lintstagedrc.js
Due: eslint --fix --max-warnings 0, prettier --write

ci: updep version robust
  scripts/updep.sh
Due: none

chore: .eslintignore
  .eslintignore
Due: none

fix: pass userId to workspaceSwitch
  packages/header/Header.vue
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: do logout after handle beforeLogout BREAKING CHANGE: pass nothing to beforeLogout, do logout in header
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: ignore error of rqevent
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

ci: auto demo dev
  Jenkinsfile
Due: none

fix: demo usage
  demo/App.vue
  packages/header/components/Account.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: package inner name
  packages/header/index.js
  packages/login/Login.vue
  packages/login/index.js
  packages/maintenance/Maintenance.vue
  packages/maintenance/index.js
  packages/not-found/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

docs: contribution note
  README.md
Due: prettier --write

feat: gio reports user
  packages/common/util/browser.js
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: pr
  COMPONENTS_DOC.md
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: [WEB-937] temporary scheme of products entry hiding
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.1-next.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: add vetur dep
  jsconfig.json
Due: prettier --write

feat: drop ams risk-management router
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: delete rqbond router
  packages/header/Header.vue
  packages/header/components/Document.vue
  packages/header/components/WorkspaceSwitch.vue
  packages/header/components/message/MessageList.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: rqfund entry toggle logic
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.3-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: updep
  .eslintrc.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.yml
  .postcssrc.js
  depVersion
  package-lock.json
  package.json
  packages/common/api/index.js
  scripts/postbuild.sh
Due: eslint --fix --max-warnings 0, prettier --write

fix: demo build mode minify svg error
  .htmlnanorc
Due: none

fix: parcel not transforms optional-chaining in client
  .browserslistrc.tpl
  depVersion
  package-lock.json
  package.json
Due: prettier --write

fix: publish will active pack hook
  package.json
Due: prettier --write

chore(release): 0.2.3-next.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: fix jenkins build
  Jenkinsfile
Due: none

feat: header support home config
  COMPONENTS_DOC.md
  demo/App.vue
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: header add rqmessage switch
  COMPONENTS_DOC.md
  demo/App.vue
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: add RqPicture components
  COMPONENTS_DOC.md
  demo/App.vue
  demo/assets/example.avif
  demo/assets/example.png
  demo/assets/example.webp
  packages/index.js
  packages/picture/Picture.vue
  packages/picture/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write
