Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix --max-warnings 0
  - stylelint --fix --mw 0
  - prettier --write
"*.js":
  - eslint --fix --max-warnings 0
  - prettier --write
"*.scss":
  - stylelint --fix --mw 0
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

fix: dropdown item cursor
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: update product links
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: second header icon color
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: second header align center in ie
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: mini menu width
  packages/header/components/anka-header/MiniMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: warning dark
  .postcssrc.js
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: support colorful icon
  .eslintignore
  build/rollup.config.js
  demo/App.vue
  packages/common/assets/icon-svg/iconfont.css
  packages/common/assets/icon-svg/iconfont.js
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.js
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
  packages/common/style/index.js
  packages/header/assets/dict/config.js
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: update icon colorful
  packages/common/assets/icon-svg/iconfont.js
  packages/header/assets/dict/config.js
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: rm useless
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: add basic js import
  README.md
Due: prettier --write

fix: second header config
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: dropdown menu max-height
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: default theme setting
  packages/header/components/logged-header/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: update icon
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
Due: none

feat: add isEnterprise
  packages/header/api/index.js
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: close warning
  .postcssrc.js
  packages/header/Header.vue
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: logged beader left btn click
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: btn color
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: logo opacity
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: rm vip
  packages/header/Header.vue
  packages/header/components/logged-header/Account.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: rm useless
  packages/header/Header.vue
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: warnging scrollbar
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: hover scroll
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: get workspace & products
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: undefined check
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: check product
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: add date util
  packages/common/util/date.js
  packages/common/util/index.js
  packages/common/util/storage.js
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.1.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: rm site
  packages/header/assets/dict/config.js
  packages/header/components/anka-header/MiniMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: add courses in footer
  packages/footer/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 0.1.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: remove TODO
  build/rollup.config.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove npmrc
  .npmrc
Due: none

fix: rqsdk-cloud trial href
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 0.1.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update icon-svg
  packages/common/assets/icon-svg/iconfont.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: update secondHeader config
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: add fof
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write
