Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix --max-warnings 0
  - stylelint --fix --mw 0
  - prettier --write
"*.js":
  - eslint --fix --max-warnings 0
  - prettier --write
"*.scss":
  - stylelint --fix --mw 0
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

chore(release): 0.2.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: not found component more universal
  .postcssrc.js
  demo/App.vue
  depVersion
  package-lock.json
  package.json
  packages/header/components/Document.vue
  packages/header/components/Message.vue
  packages/not-found/NotFound.vue
  packages/not-found/assets/img/404.avif
  packages/not-found/assets/img/404.webp
  rollup.config.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.4-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: new anka machine
  Jenkinsfile
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore: updep
  .husky/.gitignore
  depVersion
  package-lock.json
  package.json
Due: prettier --write

feat: update text
  packages/header/components/Account.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: updep
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.2.4-next.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: remove ams share link
  depVersion
  package-lock.json
  package.json
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.4-next.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.2.4-next.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: update second header style
  packages/header/components/ProductNav.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.4-next.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: delete local variables
  .postcssrc.js
  depVersion
  package-lock.json
  package.json
  packages/common/style/index.js
  packages/common/style/variables.scss
  packages/header/Header.vue
  packages/header/components/Notification.vue
  packages/header/components/Tooltip.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.4-next.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update rqtheme
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.2.4-next.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.2.4-next.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: up theme
  depVersion
  package-lock.json
Due: prettier --write

chore(release): 0.2.4-next.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add switch theme event
  COMPONENTS_DOC.md
  demo/App.vue
  packages/header/Header.vue
  packages/header/components/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.4-next.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update rqtheme 2.0
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: update server address
  Jenkinsfile
Due: none

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update stylelint 14 & nodejs 16
  .eslintrc.yml
  .stylelintrc.yml
  package-lock.json
  package.json
  packages/common/style/mixins.scss
  packages/header/Header.vue
  packages/header/components/Account.vue
  packages/header/components/Document.vue
  packages/header/components/Message.vue
  packages/header/components/Notification.vue
  packages/header/components/ProductMenu.vue
  packages/header/components/ProductNav.vue
  packages/header/components/ThemeSwitch.vue
  packages/header/components/Tooltip.vue
  packages/header/components/WorkspaceSwitch.vue
  packages/header/components/message/MessageList.vue
  packages/header/style/mixins.scss
  packages/login/Login.vue
  packages/maintenance/Maintenance.vue
  scripts/hook.sh
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 1.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: depVersion
  depVersion
Due: none

fix: stylelint config structure
  .stylelintrc.yml
Due: prettier --write

style: update stylelint rules
  depVersion
  package-lock.json
  package.json
  packages/header/components/Account.vue
  packages/header/components/ProductNav.vue
  packages/header/components/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: updep
  depVersion
  package-lock.json
  packages/common/util/link.js
  packages/header/components/Document.vue
  packages/header/components/Message.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: picture component fallback mode
  packages/picture/Picture.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: uptheme
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: merge rqthems 2.0.7 fix for ie
  depVersion
  package-lock.json
Due: prettier --write

chore(release): 1.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
