Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix
  - stylelint --fix
  - prettier --write
"*.js":
  - eslint --fix
  - prettier --write
"*.scss":
  - stylelint --fix
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

fix: minify code
  build/rollup.component.js
Due: eslint --fix, prettier --write

fix: change output path
  package.json
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

fix: deleteAllMessage
  packages/header/src/components/logged-header/Message.vue
Due: eslint --fix, stylelint --fix, prettier --write

chore: remove cjs
  build/rollup.component.js
  package.json
Due: eslint --fix, prettier --write

build: release 0.0.9-next.0
  .eslintrc.yml
  CHANGELOG.md
  package.json
  packages/header/src/components/logged-header/WorkspaceSwitch.vue
  rollup.config.js
Due: eslint --fix, stylelint --fix, prettier --write

build: 0.0.9-next.1
  CHANGELOG.md
  package.json
Due: prettier --write

Merge pull request #23 in NODE/rqcomponents from fix/deleteAllMessage to dev
  package-lock.json
  packages/header/assets/dict/header.json
  packages/header/src/Header.vue
  packages/header/src/components/LoggedHeader.vue
  packages/header/src/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix, stylelint --fix, prettier --write

build: 0.0.9-next.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: unreadMsgNum when deleteAllMessage
  packages/header/src/components/logged-header/Message.vue
Due: eslint --fix, stylelint --fix, prettier --write

fix: message style
  packages/header/src/components/logged-header/Message.vue
Due: eslint --fix, stylelint --fix, prettier --write

docs: update changelog
  CHANGELOG.md
Due: prettier --write

Merge pull request #25 in NODE/rqcomponents from fix/message to dev
  packages/header/src/components/logged-header/Message.vue
  packages/header/src/components/logged-header/WorkspaceSwitch.vue
  packages/header/src/components/logged-header/message/MessageList.vue
Due: eslint --fix, stylelint --fix, prettier --write

build: remove useless dependencies
  .babelrc
  .eslintignore
  .gitignore
  CHANGELOG.md
  build/rollup.component.js
  demo/main.js
  package-lock.json
  package.json
  packages/header/util.js
Due: eslint --fix, prettier --write

build: 0.0.9
  CHANGELOG.md
  package.json
Due: prettier --write

fix: opacity nav_buttons style
  packages/header/src/components/AnkaHeader.vue
Due: eslint --fix, stylelint --fix, prettier --write

fix: push warning code
  .eslintignore
  .lintstagedrc.yml
  .postcssrc.js
Due: eslint --fix, prettier --write

Pull request #28: Chore/message parmas
  packages/header/api/modules/message.js
  packages/header/src/components/logged-header/Message.vue
Due: eslint --fix, stylelint --fix, prettier --write

fix: fetchInterval limit
  packages/header/src/components/logged-header/Message.vue
Due: eslint --fix, stylelint --fix, prettier --write

Pull request #30: Chore/workspace switch
  .postcssrc.js
  package-lock.json
  packages/header/assets/dict/header.json
  packages/header/src/components/LoggedHeader.vue
  packages/header/src/components/logged-header/WorkspaceSwitch.vue
  packages/header/src/components/logged-header/message/MessageList.vue
Due: eslint --fix, stylelint --fix, prettier --write

Pull request #31: Feature/secondheader menu doc
  .postcssrc.js
  package-lock.json
  packages/common/assets/icon/iconfont.css
  packages/header/assets/dict/header.json
  packages/header/src/Header.vue
  packages/header/src/components/AnkaHeader.vue
  packages/header/src/components/LoggedHeader.vue
  packages/header/src/components/anka-header/CommonButton.vue
  packages/header/src/components/anka-header/DropdownMenu.vue
  packages/header/src/components/anka-header/MiniMenu.vue
  packages/header/src/components/anka-header/NavButton.vue
  packages/header/src/components/anka-header/SecondHeader.vue
  packages/header/src/components/logged-header/Message.vue
Due: eslint --fix, stylelint --fix, prettier --write

Pull request #33: Chore/quant name
  .postcssrc.js
  packages/common/assets/icon/iconfont.css
  packages/header/assets/dict/header.json
  packages/header/src/components/anka-header/DropdownMenu.vue
  packages/header/src/components/anka-header/SecondHeader.vue
Due: eslint --fix, stylelint --fix, prettier --write

Pull request #32: fix: update iconfont
  CHANGELOG.md
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
  packages/header/src/components/AnkaHeader.vue
  packages/header/src/components/LoggedHeader.vue
  packages/header/src/components/anka-header/DropdownMenu.vue
  packages/header/src/components/anka-header/SecondHeader.vue
  packages/header/src/components/logged-header/ThemeSwitch.vue
Due: eslint --fix, stylelint --fix, prettier --write

chore: second header
  packages/header/src/components/AnkaHeader.vue
  packages/header/src/components/anka-header/SecondHeader.vue
Due: eslint --fix, stylelint --fix, prettier --write

fix: rename products, rm useless
  packages/header/src/components/anka-header/SecondHeader.vue
Due: eslint --fix, stylelint --fix, prettier --write

fix: trialHref
  packages/header/src/components/anka-header/SecondHeader.vue
Due: eslint --fix, stylelint --fix, prettier --write

Pull request #35: fix: update icon
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
Due: none

build: 0.0.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: copy all iconfont
  .eslintignore
  .lintstagedrc.yml
  build/rollup.component.js
Due: eslint --fix, prettier --write

feat: before logout props
  .lintstagedrc.yml
  CHANGELOG.md
  README.md
  demo/App.vue
  packages/header/src/Header.vue
  packages/header/src/components/LoggedHeader.vue
Due: eslint --fix, stylelint --fix, prettier --write

Pull request #36: fix: getMessage when scroll
  packages/header/src/components/logged-header/Message.vue
  packages/header/src/components/logged-header/WorkspaceSwitch.vue
  packages/header/src/components/logged-header/message/MessageList.vue
Due: eslint --fix, stylelint --fix, prettier --write

build: 0.1.0-next.0
  .npmrc
  CHANGELOG.md
Due: prettier --write

ci: auto changelog generating
  .prettierignore
  .versionrc.json
  CHANGELOG.md
  depVersion
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: .depVersion
  .depVersion
  .gitignore
Due: none

ci: need node 12
  package.json
Due: prettier --write

Pull request #38: Feature/sublinks secondheader
  .postcssrc.js
  packages/header/assets/dict/header.json
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/DropdownMenu.vue
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix, stylelint --fix, prettier --write

fix: dashboard link
  packages/header/assets/dict/header.json
Due: prettier --write
