Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix --max-warnings 0
  - stylelint --fix --mw 0
  - prettier --write
"*.js":
  - eslint --fix --max-warnings 0
  - prettier --write
"*.scss":
  - stylelint --fix --mw 0
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

fix: dropdown support margin-top
  packages/header/components/anka-header/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: updep
  demo/App.vue
  depVersion
  package-lock.json
  package.json
  packages/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: rm toggleDropdown when setWorkspace
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: avatar border-radius
  packages/header/components/logged-header/Account.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: new anka-header-menu
  .postcssrc.js
  demo/App.vue
  packages/header/assets/dict/config.js
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/DropdownMenu.vue
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/anka-header/Support.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: secondHeader top when notification show
  packages/header/Header.vue
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: updep
  depVersion
  package-lock.json
  package.json
Due: prettier --write

fix: use message of element-ui
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: logged-header-btn color
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: trigger switchWorkspace when init ws
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: dropdown box-shadow
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: footer
  .postcssrc.js
  packages/common/style/mixins.scss
  packages/footer/Footer.vue
  packages/footer/assets/dict/config.js
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: secondHeader
  packages/header/assets/dict/config.js
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/common/Support.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: loggedHeader dropdownMenu
  .postcssrc.js
  packages/header/assets/dict/config.js
  packages/header/components/AnkaHeader.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/common/DropdownMenu.vue
  packages/header/components/common/Support.vue
  packages/header/util.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: avatartShow
  packages/header/components/logged-header/Account.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: $medium-vw & $min-vw
  packages/common/style/mixins.scss
  packages/footer/Footer.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: update iconfont
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor: format product link
  packages/footer/assets/dict/config.js
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: footer link
  packages/footer/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: rm footer background
  packages/footer/Footer.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: footer min-width to 768
  packages/footer/Footer.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: nav button & mini menu box-shadow to shadow-secondary
  .postcssrc.js
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/NavButton.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: scroll listener
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: set header height when mounted in second header
  packages/header/Header.vue
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

docs: update readme
  README.md
Due: prettier --write

fix: isLeaf, isRoot
  packages/header/util.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: rm active style of isnt link item in drodown menu
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: logged-header-btn color
  packages/common/assets/icon/iconfont.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: set scrollY when mounted
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: rm footer border-top
  packages/footer/Footer.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: update product
  .postcssrc.js
  packages/header/assets/dict/config.js
  packages/header/assets/img/quant.png
  packages/header/assets/img/rq-sdk.png
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: anka header width
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: update icon
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
Due: none

fix: menu style
  packages/header/components/common/DropdownMenu.vue
  packages/header/components/common/Support.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: product link
  packages/footer/assets/dict/config.js
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: footer font-weight
  packages/footer/Footer.vue
  packages/footer/assets/dict/config.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: use icon by symbol
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
  packages/common/style/index.js
  packages/header/assets/dict/config.js
  packages/header/assets/img/quant.png
  packages/header/assets/img/rq-sdk.png
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write
