Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix --max-warnings 0
  - stylelint --fix --mw 0
  - prettier --write
"*.js":
  - eslint --fix --max-warnings 0
  - prettier --write
"*.scss":
  - stylelint --fix --mw 0
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

fix: dev mode hotreload fail
  build/rollup.config.js
Due: eslint --fix --max-warnings 0, prettier --write

ci: add changelog tag compares
  .versionrc.js
  .versionrc.json
Due: eslint --fix --max-warnings 0, prettier --write

chore: updep
  build/rollup.config.js
  depVersion
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: add color variables in dark theme for loggedDownHeaderDropdown
  .postcssrc.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: add color variables in dark theme for loggedDownHeaderDropdown
  .postcssrc.js
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: theme icon style
  packages/header/components/logged-header/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: avatart drodown item align
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

build: fix version compares
  .versionrc.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: doc path
  packages/header/assets/dict/header.json
Due: prettier --write

feat: add rqfooter
  build/components.json
  packages/common/assets/dict/config.js
  packages/common/assets/img/qrcode.jpg
  packages/common/mixin.js
  packages/common/style/mixins.scss
  packages/footer/Footer.vue
  packages/footer/assets/dict/footer.js
  packages/footer/index.js
  packages/header/assets/dict/header.js
  packages/header/assets/dict/header.json
  packages/header/components/AnkaHeader.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/DropdownMenu.vue
  packages/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: use mixin in header
  packages/common/mixin.js
  packages/header/Header.vue
  packages/header/index.js
  packages/header/util.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: set commonUserHistory when logout
  packages/header/Header.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/util.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: set get remove storage in util
  packages/header/Header.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
  packages/header/util.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: set entry link according to storage
  packages/header/components/AnkaHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: use storageKeys in config
  packages/common/assets/dict/config.js
  packages/header/Header.vue
  packages/header/components/AnkaHeader.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
  packages/header/util.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: disabled mode
  package-lock.json
  packages/header/assets/dict/header.json
  packages/header/components/AnkaHeader.vue
  packages/header/components/LoggedHeader.vue
  packages/header/util.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: fomat color variables
  .postcssrc.js
  packages/common/style/mixins.scss
  packages/footer/Footer.vue
  packages/header/Header.vue
  packages/header/components/AnkaHeader.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/CommonButton.vue
  packages/header/components/anka-header/DropdownMenu.vue
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
  packages/header/components/logged-header/message/MessageList.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: new loggedHeader
  .postcssrc.js
  packages/common/mixin.js
  packages/common/style/mixins.scss
  packages/header/assets/dict/header.js
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/DropdownMenu.vue
  packages/header/components/logged-header/Account.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: message icon hover style
  packages/header/components/logged-header/Message.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: update logged logo
  packages/header/assets/img/logo-small.png
  packages/header/assets/img/logo-white-small.png
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: ankaHeader
  packages/header/assets/img/entry-active.png
  packages/header/assets/img/entry-opacity.png
  packages/header/assets/img/entry.png
  packages/header/assets/img/logo-white.png
  packages/header/assets/img/logo.png
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/DropdownMenu.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: footer
  packages/footer/Footer.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

docs: update readme
  README.md
Due: prettier --write

fix: --rqdata-product-color-2
  .postcssrc.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: text font-weight
  packages/common/style/mixins.scss
Due: stylelint --fix --mw 0, prettier --write

docs: add registration in readme
  README.md
Due: prettier --write

refactor: dynamic import rqcomponent in demo
  demo/App.vue
  demo/main.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: common util
  packages/common/assets/dict/config.js
  packages/common/util/index.js
  packages/common/util/mixin.js
  packages/footer/Footer.vue
  packages/footer/assets/dict/config.js
  packages/header/Header.vue
  packages/header/assets/dict/config.js
  packages/header/components/AnkaHeader.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: isProductPath
  packages/common/util/index.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor: split common util
  packages/common/util/index.js
  packages/header/Header.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/util.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: common user history
  packages/header/Header.vue
  packages/header/components/AnkaHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: dropdown item hover font-weight
  packages/header/components/anka-header/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: commont_user_history to common_user_default_product
  packages/common/util/index.js
  packages/header/components/AnkaHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

docs: format readme
  README.md
Due: prettier --write

chore(release): 0.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: message theme order
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: miniMenu color & background, rm useless
  packages/header/components/anka-header/MiniMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: dropdown width in ie
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: message background in ie
  packages/header/components/logged-header/Message.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write
