Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix --max-warnings 0
  - stylelint --fix --mw 0
  - prettier --write
"*.js":
  - eslint --fix --max-warnings 0
  - prettier --write
"*.scss":
  - stylelint --fix --mw 0
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

feat: add rq-maintenance
  build/components.json
  packages/index.js
  packages/maintenance/Maintenance.vue
  packages/maintenance/assets/img/maintenance.png
  packages/maintenance/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: update icon
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
Due: none

docs: readme typo
  README.md
Due: prettier --write

fix: scss mixin: reset
  packages/common/style/mixins.scss
Due: stylelint --fix --mw 0, prettier --write

feat: rm anka header, footer, logged-header rename to header
  build/components.json
  demo/App.vue
  packages/footer/Footer.vue
  packages/footer/assets/dict/config.js
  packages/footer/index.js
  packages/footer/style/mixins.scss
  packages/header/Header.vue
  packages/header/api/index.js
  packages/header/api/modules/message.js
  packages/header/assets/img/default-avatar.png
  packages/header/assets/img/entry-active.png
  packages/header/assets/img/entry-opacity.png
  packages/header/assets/img/entry.png
  packages/header/assets/img/logo-white.png
  packages/header/assets/img/logo.png
  packages/header/assets/img/theme-dark.png
  packages/header/assets/img/theme-light.png
  packages/header/components/Account.vue
  packages/header/components/DocDropdownMiniMenu.vue
  packages/header/components/Document.vue
  packages/header/components/Message.vue
  packages/header/components/MiniNav.vue
  packages/header/components/Nav.vue
  packages/header/components/NavButtons.vue
  packages/header/components/ProductDropdownMenu.vue
  packages/header/components/ProductDropdownMiniMenu.vue
  packages/header/components/ProductMenu.vue
  packages/header/components/ProductNav.vue
  packages/header/components/SecondHeader.vue
  packages/header/components/Support.vue
  packages/header/components/ThemeSwitch.vue
  packages/header/components/Tooltip.vue
  packages/header/components/WorkspaceSwitch.vue
  packages/header/components/dropdown-mixin.js
  packages/header/components/message/MessageList.vue
  packages/header/style/mixins.scss
  packages/index.js
  packages/logged-header/Header.vue
  packages/logged-header/index.js
  packages/logged-header/style/mixins.scss
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: product menu dropdown position
  packages/header/components/ProductMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: notification move to header folder
  packages/header/components/Notification.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: clean common folder
  packages/common/assets/dict/config.js
  packages/common/assets/img/qrcode.jpg
  packages/common/style/mixins.scss
  packages/header/components/Notification.vue
  packages/header/components/message/MessageList.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: getAccount in header
  packages/common/api/index.js
  packages/common/util/account.js
  packages/header/Header.vue
  packages/header/api/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: doc dropdown menu move to document
  packages/common/components/DocDropdownMenu.vue
  packages/header/components/Document.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: header height, box-shadow
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: clean mixin, hanleLink move to util
  demo/App.vue
  packages/common/util/index.js
  packages/common/util/link.js
  packages/common/util/mixin.js
  packages/header/Header.vue
  packages/header/components/Account.vue
  packages/header/components/Document.vue
  packages/header/components/ProductMenu.vue
  packages/header/components/ProductNav.vue
  packages/header/components/ThemeSwitch.vue
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: message dot position
  packages/header/components/Message.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: tooltip wrapper
  packages/header/style/mixins.scss
Due: stylelint --fix --mw 0, prettier --write

fix: scss import path
  packages/header/style/mixins.scss
Due: stylelint --fix --mw 0, prettier --write

feat: update demo
  demo/App.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: clean color variables, product rename to light
  .postcssrc.js
  build/themify.js
  packages/header/components/Account.vue
  packages/header/components/Document.vue
  packages/header/components/ProductNav.vue
  packages/header/components/WorkspaceSwitch.vue
  packages/header/style/mixins.scss
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

docs: update readme
  README.md
Due: prettier --write

refactor: handleLink
  packages/common/util/link.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: update icon
  packages/common/assets/icon-svg/iconfont.js
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
Due: eslint --fix --max-warnings 0, prettier --write

fix: app demo
  demo/App.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

ci: short rollup steps
  README.md
  build/components.json
  build/rollup.config.js
  demo/App.vue
  depVersion
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: tooltip default translateY
  packages/header/components/Tooltip.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: workspace switch tooltip
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

build: use rollup2
  .eslintrc.yml
  README.md
  build/rollup.config.js
  demo/App.vue
  demo/main.js
  depVersion
  package-lock.json
  package.json
  packages/common/style/index.js
  packages/common/style/transition.scss
  packages/header/Header.vue
  packages/header/api/index.js
  packages/header/api/modules/message.js
  packages/header/components/Account.vue
  packages/header/components/Document.vue
  packages/header/components/Message.vue
  packages/header/components/ProductMenu.vue
  packages/header/components/ProductNav.vue
  packages/header/components/ThemeSwitch.vue
  packages/header/components/WorkspaceSwitch.vue
  packages/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: header min-width
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.0-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: delete element-ui dep
  depVersion
  package-lock.json
  package.json
Due: prettier --write

refactor: use css var instead of rqthemify
  .postcssrc.js
  README.md
  build/rollup.config.js
  build/themify.js
  demo/index.html
  depVersion
  package-lock.json
  package.json
  packages/common/style/index.js
  packages/common/style/variables.css
  packages/header/Header.vue
  packages/header/components/Account.vue
  packages/header/components/Document.vue
  packages/header/components/Message.vue
  packages/header/components/Notification.vue
  packages/header/components/ProductMenu.vue
  packages/header/components/ProductNav.vue
  packages/header/components/ThemeSwitch.vue
  packages/header/components/Tooltip.vue
  packages/header/components/WorkspaceSwitch.vue
  packages/header/components/message/MessageList.vue
  packages/header/style/mixins.scss
  packages/maintenance/Maintenance.vue
  scripts/postbuild.sh
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

docs: split components params doc
  COMPONENTS_DOC.md
  README.md
  build/rollup.config.js
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

build: auto fetch export components
  README.md
  build/components.json
  build/rollup.config.js
  depVersion
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor: localstorage theme -> common_theme
  packages/common/util/storage.js
  packages/header/components/ThemeSwitch.vue
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: eslint cli
  .postcssrc.js
  depVersion
  package-lock.json
  package.json
  packages/common/style/index.js
  packages/common/style/variables.scss
  scripts/lint.sh
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.0-next.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: drop babel, rewrite filesize
  demo/main.js
  depVersion
  package-lock.json
  package.json
  packages/header/api/index.js
  packages/header/components/WorkspaceSwitch.vue
  rollup.config.js
  scripts/postbuild.sh
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.2.0-next.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: exclude mapfile size
  scripts/postbuild.sh
Due: none

feat: clear some catch behavior
  packages/common/util/date.js
  packages/common/util/storage.js
  packages/header/Header.vue
  packages/header/components/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: add rqfund doc link
  packages/header/components/Document.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write
