Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix --max-warnings 0
  - stylelint --fix --mw 0
  - prettier --write
"*.js":
  - eslint --fix --max-warnings 0
  - prettier --write
"*.scss":
  - stylelint --fix --mw 0
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

fix: logged header dropdown menu min-width
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rm el-popover in footer
  packages/footer/Footer.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rm catch error
  packages/header/components/common/Support.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rm el-popover in miniMenu
  packages/header/components/anka-header/MiniMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: support clickHanle
  packages/header/components/common/Support.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rm el-popover in message
  packages/header/components/logged-header/Message.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rm element css
  packages/footer/index.js
  packages/header/components/LoggedHeader.vue
  packages/header/index.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: add el message css
  packages/header/components/common/Support.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rm el-popover in navButton
  packages/header/assets/dict/config.js
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/common/DropdownMenu.vue
  packages/header/components/common/Support.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: remove el-button
  packages/header/Header.vue
  packages/header/assets/dict/config.js
  packages/header/components/AnkaHeader.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/CommonButton.vue
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: rm useless
  packages/header/assets/dict/config.js
  packages/header/assets/img/ra.png
  packages/header/assets/img/rd.png
  packages/header/assets/img/rp.png
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 0.1.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: button inner click event not fire in ie
  packages/header/components/anka-header/NavButton.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: rm useless img
  packages/header/assets/img/logo-white-pure.png
Due: none

feat: add bond
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: notification style
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.1.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: new doc menu
  .postcssrc.js
  packages/header/assets/dict/config.js
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/common/DocDropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: new product menu
  packages/header/assets/dict/config.js
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/common/ProductDropdownMenu.vue
  packages/header/components/common/Support.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: new doc and product mini menu
  packages/header/assets/dict/config.js
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/common/DocDropdownMiniMenu.vue
  packages/header/components/common/ProductDropdownMenu.vue
  packages/header/components/common/ProductDropdownMiniMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: add product and set it as default color variation
  .postcssrc.js
  build/themify.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: anka header use light primary color
  packages/footer/Footer.vue
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/common/DocDropdownMiniMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: new loggedHeader
  .postcssrc.js
  packages/common/style/mixins.scss
  packages/header/assets/dict/config.js
  packages/header/components/LoggedHeader.vue
  packages/header/components/logged-header/Account.vue
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/Products.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: common mixin
  demo/App.vue
  packages/common/util/mixin.js
  packages/footer/Footer.vue
  packages/header/Header.vue
  packages/header/components/AnkaHeader.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/anka-header/SecondHeader.vue
  packages/header/components/common/DocDropdownMenu.vue
  packages/header/components/common/DocDropdownMiniMenu.vue
  packages/header/components/common/DropdownMenu.vue
  packages/header/components/common/ProductDropdownMenu.vue
  packages/header/components/common/ProductDropdownMiniMenu.vue
  packages/header/components/common/Support.vue
  packages/header/components/logged-header/Account.vue
  packages/header/components/logged-header/Products.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: use logged-down mixin
  packages/header/components/logged-header/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: components structure
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/DocDropdownMiniMenu.vue
  packages/header/components/anka-header/MiniMenu.vue
  packages/header/components/anka-header/NavButton.vue
  packages/header/components/anka-header/ProductDropdownMenu.vue
  packages/header/components/anka-header/ProductDropdownMiniMenu.vue
  packages/header/components/anka-header/Support.vue
  packages/header/components/common/DropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: products subitem
  packages/common/assets/icon-svg/iconfont.js
  packages/header/assets/dict/config.js
  packages/header/components/logged-header/Products.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: update icon-svg
  packages/common/assets/icon-svg/iconfont.js
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: --background-minor, --shadow-dropdown, product item hover
  .postcssrc.js
  packages/common/style/mixins.scss
  packages/header/components/LoggedHeader.vue
  packages/header/components/logged-header/Products.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rqams sub product in secondHeader
  .postcssrc.js
  packages/header/assets/dict/config.js
  packages/header/components/anka-header/SecondHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: new logged header
  packages/header/Header.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/common/DocDropdownMenu.vue
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/Products.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: doc order, add faq
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: logged document dropdown position
  packages/header/components/logged-header/Document.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: hide unavailable doc
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: use color variables
  .postcssrc.js
  packages/common/style/mixins.scss
  packages/header/Header.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/common/DocDropdownMenu.vue
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/Products.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: subproduct position
  packages/header/components/logged-header/Products.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: add clickoutside for logged-header
  packages/common/util/clickoutside.js
  packages/header/components/logged-header/Account.vue
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
  packages/header/components/logged-header/dropdown-mixin.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rqams sub product link
  packages/header/assets/dict/config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: pass auth event to ankaHeader
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: themeSwitch choice margin
  packages/header/components/logged-header/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write
