Repository anson09/rqcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

.lintstagedrc.yml:

"*.vue":
  - eslint --fix --max-warnings 0
  - stylelint --fix --mw 0
  - prettier --write
"*.js":
  - eslint --fix --max-warnings 0
  - prettier --write
"*.scss":
  - stylelint --fix --mw 0
  - prettier --write
"*.{html,yml,json,md}":
  - prettier --write

fix: set header-warning margin to 0
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

refactor: navButton renames to menu
  packages/header/components/AnkaHeader.vue
  packages/header/components/anka-header/Menu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: rm useless comment
  .postcssrc.js
  packages/common/util/mixin.js
  packages/common/util/storage.js
  packages/footer/assets/dict/config.js
  packages/header/components/LoggedHeader.vue
  packages/header/components/anka-header/Menu.vue
  packages/header/components/anka-header/Support.vue
  packages/header/util.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: rm useless
  packages/header/components/LoggedHeader.vue
  packages/header/components/logged-header/Account.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: product click event traget & rm useless event modifier
  packages/header/components/logged-header/Products.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.1.11-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: subproduct active
  packages/header/components/logged-header/Products.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: drop eslint complexity count
  .eslintrc.yml
  packages/common/util/clickoutside.js
  packages/common/util/mixin.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: update icon
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
Due: none

feat: use icon-base in logged-header
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: update eslint 7
  depVersion
  package-lock.json
  package.json
Due: prettier --write

style: eslint error fix
  README.md
  packages/header/Header.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
  packages/header/components/logged-header/message/MessageList.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore: update rollup plugin
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.1.11-next.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: update path after click subproduct
  packages/header/components/logged-header/Products.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.1.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: rm / at the end in getPath return
  packages/common/util/mixin.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: new loggedHeader
  .postcssrc.js
  demo/App.vue
  packages/common/assets/icon/iconfont.css
  packages/common/assets/icon/iconfont.eot
  packages/common/assets/icon/iconfont.svg
  packages/common/assets/icon/iconfont.ttf
  packages/common/assets/icon/iconfont.woff
  packages/common/assets/icon/iconfont.woff2
  packages/common/style/mixins.scss
  packages/header/Header.vue
  packages/header/assets/dict/config.js
  packages/header/assets/img/logo-small.png
  packages/header/assets/img/logo-white-small.png
  packages/header/components/AnkaHeader.vue
  packages/header/components/LoggedHeader.vue
  packages/header/components/common/DocDropdownMenu.vue
  packages/header/components/logged-header/Account.vue
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/ProductMenu.vue
  packages/header/components/logged-header/ProductNav.vue
  packages/header/components/logged-header/Products.vue
  packages/header/components/logged-header/ThemeSwitch.vue
  packages/header/components/logged-header/Tooltip.vue
  packages/header/components/logged-header/WorkspaceSwitch.vue
  packages/header/components/logged-header/dropdown-mixin.js
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: logged header min-width to 1280
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: --text-gray variable
  .postcssrc.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: product menu color
  packages/header/components/logged-header/ProductMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: icon container
  packages/common/style/mixins.scss
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/Message.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: message unread dot
  packages/header/components/logged-header/Message.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: doc dropdown padding
  packages/header/components/common/DocDropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: header min-width
  packages/header/Header.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: logged dropdown position
  packages/common/style/mixins.scss
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/ProductMenu.vue
  packages/header/components/logged-header/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: doc dropdown menu width
  packages/header/components/common/DocDropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: workspace set-up-icon tooltip
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: rm useless
  packages/header/components/logged-header/ProductMenu.vue
  packages/header/components/logged-header/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: tooltip default text
  packages/header/components/logged-header/Tooltip.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

chore(release): 0.1.12-next.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: set-up-tooltip use dark mode
  packages/header/components/logged-header/WorkspaceSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: pass logout event to account
  packages/header/components/LoggedHeader.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: tooltip border
  packages/header/components/logged-header/Tooltip.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: logged header component width
  packages/header/components/logged-header/Document.vue
  packages/header/components/logged-header/Message.vue
  packages/header/components/logged-header/ProductMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

feat: theme unsupported tooltip
  packages/header/components/logged-header/ThemeSwitch.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: tooltip text in te
  packages/header/components/logged-header/Tooltip.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write

fix: doc dropdown width
  packages/header/components/common/DocDropdownMenu.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --mw 0, prettier --write
